

@media screen and (max-width: 626px) {

    

    .texto-main {
        margin-top: -300px;
    }

    main {
        background: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0,0,0,50)), url(../imagens/mobile.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    

    .todos-projetos { /*COLOCAR OS PROJETOS UM ABAIXO DO OUTRO */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}   
